{% extends "base.html" %}
{% block center_content %}
{% comment %} <form method='POST'>
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Rewiev form</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name='FirstName'>
      <label for="floatingInput">First Name</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name='LastName'>
        <label for="floatingInput">Last Name</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Send</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
</form> {% endcomment %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Send">
</form>
{% endblock center_content %}