<style>
    .menu-buttn{
        width: 80%;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
<a href="{% url 'c_site:index_page' %}">
    <div class="menu-buttn">Main</div>
</a>
<a href="{% url 'c_site:news_page' %}">
    <div class="menu-buttn">News</div>
</a>
<a href="{% url 'c_site:managment_page' %}">
    <div class="menu-buttn">Managment</div>
</a>
<a href="{% url 'c_site:about_page' %}">
    <div class="menu-buttn">About</div>
</a>
<a href="{% url 'c_site:contacts_page' %}">
    <div class="menu-buttn">Contacts</div>
</a>
<a href="{% url 'c_site:branches_page' %}">
    <div class="menu-buttn">Branches</div>
</a>